* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #edcd9e;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245, 228, 195);
    height: 150px;
    border: 2px solid rgb(231, 204, 114);
    font-family: "Chewy", system-ui;
    padding-left:60px;
}


.logo1{
    width: 200px;
    height: 130px;
    margin-left: 20px;
    margin-right: 0;
    margin-left: -200px;
}

.logo2{
    width: 200px;
    height: 130px;
    margin-right: 20px;
    margin-left: -200px;
}

.hd1, .hd2, .hd3, .hd4, .hd5{
    font-family: "Chewy", system-ui;
    font-size: 20px;
    font-weight: bold;
    color: rgb(172, 117, 0);
    cursor: pointer;
    text-decoration: none;
}

.hd1:hover{
    color: #0987c7;
    
    transform: scale(1.2);
}

.hd1:active{
    color: #054f7c;
    transform: scale(0.90);
}
.hd1:active::after{
    background-color: #054f7c;
}

.hd1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color: #0987c7;
    transition: width 0.5s;
}
.hd1:hover::after{
    width: 100%;
}

.hd2:hover{
    color: #a64ca6;
    
    transform: scale(1.2);
}

.hd2:active{
    color: #7a347a;
    transform: scale(0.90);
}
.hd2:active::after{
    background-color: #7a347a;

}

.hd2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color: #a64ca6;
    transition: width 0.5s;
}
.hd2:hover::after{
    width: 100%;
}

.hd3:hover{
    color: #f88dad;
    
    transform: scale(1.2);
}

.hd3:active{
    color: #f88dad;
    transform: scale(0.90);
}
.hd3:active::after{
    background-color: #f88dad;
}
.hd3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color:#f88dad;
    transition: width 0.5s;
}
.hd3:hover::after{
    width: 100%;
}

.hd4:hover{
    color: #31a768;
    
    transform: scale(1.2);
}


.hd4:active{
    color: #1f7a4f;
    transform: scale(0.90);
}
.hd4:active::after{
    background-color: #1f7a4f;
}
.hd4::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color:#31a768;
    transition: width 0.5s;
}
.hd4:hover::after{
    width: 100%;
}

.hd5:hover{
    color: #e06a00;
    
    transform: scale(1.2);
}
.hd5:active{
    color: #b04400;
    transform: scale(0.90);
}
.hd5:active::after{
    background-color: #b04400;
}
.hd5::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color:#e06a00;
    transition: width 0.5s;
}
.hd5:hover::after{
    width: 100%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div{
    margin: 0;
}

.parte{
    display: flex;
    align-items: center;
    border:solid #e06a00;
    height: 600;
    
    
}

.img1{
    width: 50%;        
    height: 600px;
}

.img2{
     width: 50%;        
    height: 600px;
}




.doacao{
height: 80px;
width: 800px;
border-radius: 50px;
margin-top: 50px;
border-radius: 50px;
}

input{
    height: 40px;
    width: 620px;
    border: 2px solid rgb(229, 159, 8);
    border-radius: 50px;
}

input[type= "radio"]{
    accent-color:rgb(9, 9, 7);
}

h3{
    margin-top: 20px;
    
    
}


h2{
    margin-top: 20px;
    
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: auto;
    border: 2px solid black;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
   
    
}

label{
    font-size: 20px;
    font-weight: bold;
    color: darkgoldenrod;
    margin-top: 15px;
    padding-right: 0;
}

.botao{
    display: flex;
    justify-content: center;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#bola1{
    width: 30px;
    margin-top: 10px;
    margin-right: 70px;
    margin-left: 5px;
    
}

#bola2{
     width: 30px;
    margin-top: 10px;
    margin-left: 5px;
}

.pix{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20PX;
    
}

.pixx{
display: flex;
flex-direction: column;
}

.ppix{
margin-bottom: 5px;
font-size: 25px;
}
.pppix{
color: #054f7c;
}

.qr{
height: 150px;
width: 150px;
margin-top: 50px;
margin-bottom: 50px;
margin-right: 30px;
}

.titulo{
background-color: rgb(0, 0, 0);
color: darkgoldenrod;
font-size: 35px;
align-items: center;
text-align: center;

}

.viac{
    margin-top: 50px;
    padding: 0 230px;
    background-color: black;
    color: darkgoldenrod ;
    border-radius: 10px;
}

.confirmar{
    height: 50px;
    width: 200px;
    background-color: #7a347a;
    border-radius: 50px;
    color:gold;
}
.teste{
     display: none; 
    position: absolute;
    background-color: #ffffff;
    font-size: 20px;
    bottom: -1015px;
    left: 45%;
}
.classe:active{
    transform: scale(0.9);
} 

.confirmar:focus .teste{
display: block;

}

.pq{
background-color: #c4914a;
padding: 20px;
border-radius: 20px;
}

.ppq{
    font-size: 20px;
}

.hpq{
    font-size: 50px;
}









/* ======== FOOTER ======== */
footer {
  background-color:rgb(245, 228, 195);
  color: #4c2f00;
  font-family: 'Poppins', sans-serif;
  border-top: 3px solid #e3b96c;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 40px;
}

.footer-col {
  flex: 1 1 220px;
  min-width: 220px;
}

.footer-col h3 {
  color: #5b3a00;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
}

.footer-col a {
  text-decoration: none;
  color: #5b3a00;
  transition: color 0.3s;
}

.footer-col a:hover {
  color: #b87400;
}


.footer-logo {
  width: 120px;
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.footer-social img {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.footer-social img:hover {
  transform: scale(1.1);
}


.footer-bottom {
  background-color: #f0c67c;
  text-align: center;
  padding: 10px 0;
  color: #4c2f00;
  font-size: 14px;
  font-weight: 500;
}











